on early-init
    start ueventd

on init

    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system

on emmc-fs
    wait /dev/block/mmcblk0p12
    mount ext4 /dev/block/mmcblk0p12 /system rw barrier=1
    mkdir fat
    mkdir sdcard
    mkdir HWUserData
    mkdir /.cust_backup
    mkdir /cust 

on boot

    class_start default
    chmod 0660 /dev/smd0
    chown system system /dev/smd0
    
service ueventd     /sbin/ueventd
service adbd        /sbin/adbd
service charge	/sbin/charge
service test_diag /system/bin/test_diag

service rmt_oeminfo /system/bin/rmt_oeminfo
    oneshot
service rmt_storage /system/bin/rmt_storage
service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
service oem_rpc_svc /system/bin/oem_rpc_svc
    oneshot

service huawei-sh /system/bin/sh /init.huawei.sh
    user root
    oneshot

service recovery    /sbin/recovery

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1038
    write /sys/class/android_usb/android0/f_mass_storage/nluns 2
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 1
    write /sys/class/android_usb/android0/f_mass_storage/lun1/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
